:root {
  --light-green: #b3c293;
  --dark-gray: #312c3b;
  --dark-blue: #050a30;
  --dark-brown: #312020;
  --foggy-navy: #6b6d86;
  --pink: #faf0f1;
  --light-pink: #f7f2f3;
  --yellow-orange: #ffc412;
  --tile-margin: 15px 18px 15px 18px;
}

.App {
  font-family: "Gaegu", cursive;
  text-align: center;
  overflow-x: hidden;
}

.MemoryGame {
  height: 100%;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: var(--dark-gray);
  margin: 0;
  padding: 0;
}

.GameBoard {
  display: flex;
  flex-flow: column wrap;
  height: 662px;
  margin: 10px;
  justify-content: center;
  align-content: center;
}

.Tile {
  width: 70px;
  flex: 1 1 auto;
  padding: 0;
  height: 105px;
  margin: var(--tile-margin);
  border: none;
  border-radius: 5px;
}

.shopBTN {
  border-radius: 5px;
  margin: 0 5px 0 5px;
}

.purchasedItemsBar {
  width: 160px;
  flex-direction: column;
  padding: 4px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.Deco > div.flex-center {
  width: 78.87%;
}

.PCdeco.holder {
  position: absolute;
  top: 2%;
  width: 300px;
  z-index: 1;
}

.PCdeco.cover {
  position: absolute;
  top: 22.1%;
  width: 200px;
  border-radius: 5px;
  z-index: 1;
}

.ShopItem {
  width: 130px;
  height: 280px;
  margin: 10px 27px 10px 27px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: white solid 5px;
}

.purchasedItemsBar > img {
  width: 90px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px var(--foggy-navy);
}

.shopItemsDiv {
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px;
  margin: 0 auto;
  width: 96.99%;
}

.Shop {
  height: 100%;
  width: 100%;
}

.green-border {
  border: var(--light-green) solid 5px;
}

.priceTag {
  height: 40px;
  margin-bottom: 5px;
}

.priceTag > p {
  display: inline-block;
}

.unclickable {
  pointer-events: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.endgameImg {
  width: 300px;
}

.tile {
  width: 60px;
  height: 90px;
  border-radius: 5px;
}

button {
  background-color: white;
  font-family: "Gaegu", cursive;
  font-size: 20px;
  font-weight: bold;
}

.PCBar {
  padding: 4px;
  background-color: var(--pink);
  width: 160px;
  flex-direction: column;
  height: 673px;
  overflow-x: hidden;
  overflow-y: auto;
  justify-items: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.PCBar::-webkit-scrollbar,
.Shop::-webkit-scrollbar,
.shopItemsDiv::-webkit-scrollbar,
.purchasedItemsBar::-webkit-scrollbar {
  display: none;
}

.enlargedPC {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  display: inline;
  box-shadow: 0 0 5px 2px white;
}

h4 {
  margin: 0;
}

h2 {
  margin: 15px 0;
}

#cardInfo {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PC {
  width: 90px;
  border-radius: 5px;
  height: 135px;
  margin: 10px;
  box-shadow: 2px 2px 5px var(--foggy-navy);
}

h1 {
  color: white;
}

.flex-container {
  display: flex;
}

.flex-start {
  justify-content: start;
}

.flex-center {
  justify-content: center;
  width: 100%;
}

.monitor-screen {
  margin: 0 auto;
  width: 803px;
  height: 681px;
  position: relative;
  border: white 50px solid;
  border-radius: 0 0 10px 10px;
  grid-area: screen;
}

.resetBTN {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  box-shadow: 5px 7px 2px 1px var(--yellow-orange);
}

.Start {
  height: 100%;
  width: 100%;
  background-color: var(--light-pink);
  color: var(--dark-blue);
}

.title {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0px 50px 0px;
  font-size: 120px;
  font-family: "Darumadrop One", cursive;
}

p {
  color: var(--dark-brown);
  font-weight: bold;
}

h3 {
  color: white;
  position: relative;
  font-size: 20px;
  display: inline-block;
}

.extraBar {
  grid-area: extra;
  display: flex;
  justify-content: space-between;
}

.star-icon {
  height: 20px;
  width: auto;
  display: inline-block;
}

.startBTN {
  border-radius: 10px;
  width: 75px;
  height: 75px;
  margin: 10px;
}

.instructions {
  position: relative;
  text-align: center;
  top: -50px;
  padding: 0;
  font-size: 20px;
  font-family: "Gaegu", cursive;
}

.NavBar {
  margin: 20px auto;
  justify-content: space-between;
  padding: 0;
  width: 904.5px;
  height: 100%;
  grid-area: NavBar;
}

.NavBarBTN {
  width: 18%;
  height: 100%;
  border-radius: 10px;
  border: black solid 1px;
  background-color: var(--light-green);
  align-items: start;
}

.outer {
  display: grid;
  grid-template-rows: 1fr 75px auto 75px 2.5fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    " . . ."
    ". NavBar ."
    ". screen ."
    ". extra ."
    ". . .";
  width: 100vw;
  height: 100vh;
  position: relative;
  justify-content: center;
}

.Alert {
  /* display */
  display: grid;
  grid-template-areas:
    "message"
    "cancel";
  grid-template-rows: 5fr 0.5fr;
  grid-template-columns: 1fr;
  grid-row-gap: 7px;
  text-align: center;
  z-index: 1;

  /* design */
  background-color: white;
  border: rgb(107, 109, 134, 1) solid 3px;
  border-radius: 5px;

  /* positioning */
  position: absolute;
  grid-area: screen;
  /* box model */
  width: 200px;
  height: 100px;
  padding: 7px;
  margin: 10px 10px 10px 572px;
}

.closeAlert {
  border: var(--light-green) solid 1px;
  border-radius: 5px;
  background-color: var(--light-green);
  opacity: 65%;
  color: white;
  grid-area: cancel;
  z-index: 2;
  font-weight: bold;
}

.closeAlert:hover {
  cursor: pointer;
}

.closeAlert > p {
  padding: 5px;
  margin: 0;
}

.alertMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: rgb(107, 109, 134, 0.6) solid 1px; */
  border-radius: 5px;
  grid-area: message;
  color: var(--foggy-navy);
  /* background-color: var(--pink); */
  font-weight: bold;
  overflow-y: hidden;
  line-height: 18px;
}

.alertMessage > p {
  width: 95%;
}

.CollectBook {
  justify-content: center;
}

.CollectBook > button {
  height: 40px;
  width: 40px;
  margin: 315px 10px 315px 10px;
  display: inline;
  border-radius: 5px;
  border: none;
}

.book {
  margin: 110px 0 110px 0;
  border: white solid 5px;
  height: 450px;
  width: 600px;
}

.bookPage {
  width: 299.33333px;
  height: 450px;
  background-color: var(--light-pink);
  justify-content: space-evenly;
}

.leftPage {
  border-right: black dashed 1px;
}

.rightPage {
  border-left: black dashed 1px;
}

.bookPage > div {
  margin: 10px;
}
